In [155]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


from sklearn import ensemble
from sklearn.model_selection import cross_val_score

In [156]:
df = pd.read_csv("lending club data.csv", skipinitialspace=True,
    header=1)
#print(df.head())

C:\Users\PV-R68G\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [157]:
categorical = df.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
#    print(i)
#    print(column.nunique())

In [158]:
# Convert ID and Interest Rate to numeric.
df['id'] = pd.to_numeric(df['id'], errors='coerce')
df['int_rate'] = pd.to_numeric(df['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
df.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

# Remove two summary rows at the end that don't actually contain data.
df = df[:-2]



print(df.head())

   id  member_id  loan_amnt  funded_amnt  funded_amnt_inv       term  \
0 NaN        NaN    24700.0      24700.0          24700.0  36 months
1 NaN        NaN    17925.0      17925.0          17925.0  60 months
2 NaN        NaN     9000.0       9000.0           9000.0  36 months
3 NaN        NaN    11550.0      11550.0          11550.0  60 months
4 NaN        NaN    12000.0      12000.0          12000.0  60 months

   int_rate  installment grade emp_length       ...         \
0     11.99       820.28     C  10+ years       ...
1     17.27       448.09     D  10+ years       ...
2      8.49       284.07     B    8 years       ...
3     16.59       284.51     D    5 years       ...
4      9.80       253.79     B  10+ years       ...

  hardship_payoff_balance_amount  hardship_last_payment_amount  \
0                            NaN                           NaN
1                            NaN                           NaN
2                            NaN                           NaN
3                            NaN                           NaN
4                            NaN                           NaN

  disbursement_method debt_settlement_flag debt_settlement_flag_date  \
0                Cash                    N                       NaN
1                Cash                    N                       NaN
2                Cash                    N                       NaN
3                Cash                    N                       NaN
4                Cash                    N                       NaN

  settlement_status settlement_date settlement_amount  settlement_percentage  \
0               NaN             NaN               NaN                    NaN
1               NaN             NaN               NaN                    NaN
2               NaN             NaN               NaN                    NaN
3               NaN             NaN               NaN                    NaN
4               NaN             NaN               NaN                    NaN

   settlement_term
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 137 columns]

In [159]:

X = df.drop('loan_status', 1)
Y = df['loan_status'].astype(str)
X = pd.get_dummies(X)
X = X.dropna(axis=1)
print(X.shape)

(421097, 380)

In [160]:
rfc = ensemble.RandomForestClassifier()
print(cross_val_score(rfc, X, Y, cv=10))

C:\Users\PV-R68G\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

[0.88678349 0.89540047 0.90054855 0.8825485  0.89930894 0.90199012
 0.89847535 0.89612425 0.89978151 0.90443394]

In [161]:
#creating another dataframe
df2 = pd.read_csv("lending club data.csv", skipinitialspace=True,
    header=1)

C:\Users\PV-R68G\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Taking out additional columns:

In [162]:
df2['int_rate'] = pd.to_numeric(df2['int_rate'].str.strip('%'), errors='coerce')
# Dropping additional columns
df2.drop(['id', 'url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc', 'emp_title', 'issue_d', 'earliest_cr_line', 
         'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec'], 1, inplace=True)

# Remove two summary rows at the end that don't actually contain data.
df2 = df2[:-2]

In [163]:
X2 = df2.drop('loan_status', 1)
Y2 = df2['loan_status'].astype(str)
X2 = pd.get_dummies(X2)
X2 = X2.dropna(axis=1)
print(X2.shape)

(421097, 368)

In [164]:
rfc2 = ensemble.RandomForestClassifier()
print(cross_val_score(rfc2, X2, Y2, cv=10))

C:\Users\PV-R68G\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

[0.89112884 0.89639779 0.8969153  0.89867256 0.89987889 0.89854659
 0.90018524 0.90047022 0.8968842  0.89605054]

In [165]:
#creating another dataframe
df3 = pd.read_csv("lending club data.csv", skipinitialspace=True,
    header=1)

C:\Users\PV-R68G\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Taking out columns related to payment amount or outstanding principle:

In [166]:
df3['int_rate'] = pd.to_numeric(df3['int_rate'].str.strip('%'), errors='coerce')
# Dropping additional columns
df3.drop(['id', 'url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc', 'emp_title', 'funded_amnt', 'funded_amnt_inv',
         'loan_amnt', 'revol_bal', 'total_pymnt'], 1, inplace=True)


# Remove two summary rows at the end that don't actually contain data.
df3 = df3[:-2]

In [167]:
X3 = df3.drop('loan_status', 1)
Y3 = df3['loan_status'].astype(str)
X3 = pd.get_dummies(X3)
X3 = X3.dropna(axis=1)
print(X3.shape)

(421097, 380)

In [168]:
rfc3 = ensemble.RandomForestClassifier()
print(cross_val_score(rfc3, X3, Y3, cv=10))

C:\Users\PV-R68G\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

[0.88436149 0.8963028  0.90009736 0.88140866 0.9008763  0.90013774
 0.90028023 0.896148   0.90208511 0.90609637]

## I experienced no significant change in accuracy after deleting certain columns; even after deleting certain columns related to payment amount or outstanding principle.